.search__bar {
  padding-top: 90px;
}
.search__value {
  background-color: rgb(100, 103, 105);
  width: 99.4%;
  height: 100px;
  font-size: 3em;
  color: white;
}
::placeholder {
  color: white;
  font-weight: 800;
  opacity: 1;
}
